*{
    box-sizing:border-box;
    font-family: 'josefin sans', sans-serif;
    color: white;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
span {
    color: rgb(222, 216, 216);
    font-weight: 1000;
}

b {
    font-weight: 1000;
    color: rgb(234, 12, 12);
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .links-box{
    padding: 20px;
    margin: 20px;
    max-width: 700px;
    border: none;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 20px;
    background-image: linear-gradient(deg, rgba(10, 10, 10, 0.389), rgba(0, 13, 255, 0.258));;
    backdrop-filter: blur(3px);
}

.navbar .links-box img{
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
    border-radius: 20px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar .links-box a{
    margin: 10px;
}



body{
    background-image: url(./imgfolder/black-mustang-tires-ia0f6oea0zrgvnbu.jpg);
    background-color: rgba(0, 0, 0, 0.884);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center ;
    padding: 0%;
    margin: 0%;
    
    
}
.services {
    text-align: center;
    padding: 20px;  
}
.services h1{
    color: rgba(255, 252, 252, 0.988);
    font-style: italic;
}  
.services s{
    color:rgb(195, 174, 245);
}
.cover{

    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
@media (max-width:700px) 
{
    .cover{

        flex-direction: column;
        
    }
    
}
.cover #box1 img{
    width: 300px;
    height: 200;
    border-radius: 30px;
}

#box1 h2{
 color: rgb(255, 255, 255);
 border-radius: 90px;
 border:2px sloid black;
 border: 0px;
 border: 1px solid #838383;
padding: 10px;
padding-left: 50PX;
margin: 40px;
font-weight: 600;

 
}
#box1{
    width: 400px;
    margin: 10px;
    padding: 40px;
   backdrop-filter: blur(10px);
    border-radius: 23px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.578);
    
}
.head{
    margin: 100px;
    padding: 50px;
}
.head #p {
    justify-content: 50PX;
    color: rgba(223, 222, 222, 0.993);   
   padding: 44px;
   font-size:50PX;
   line-height: normal;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
    justify-content: center;
}
c{
    color: rgb(119, 225, 255);
}
.head button{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid rgb(222, 212, 212);
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 30px;
    font-weight: 700;  
    border:2px solid rgb(255, 251, 251) ;
    box-shadow: 0 0 30px rgb(117, 117, 117);
   
    
 
}
.OP{
    margin: 200px;
}
.OP h1 {
    margin: 60px;
    font-weight: 700; 
    color: rgb(238, 227, 235);  
    text-align: center;
    
}
e{
    color: rgb(195, 174, 245);
}
.OP h2{
    color: rgb(255, 255, 255);
    font-weight: 300px;

    font-family: serif;
    text-align: center;

}

.container input{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1919;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.form\bot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 130px;
    background-image: url(../imgfolder/black-background-with-white-line-that-says-network_994023-356762.avif);
}
.btms{
    color:rgb(243, 236, 236);
    border:none ;
    background:transparent;
    border:2px solid white ;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
transition: 0.5s ease-in-out;
}
.btms:hover{
    color:rgb(0, 0, 0);
    border:none ;
    background:white;
    border:2px solid white ;
    border-radius: 10px;
    box-shadow: 0 0 30px white;
transition: 0.5s ease-in-out;
}
.noob{
    color:rgb(20, 19, 19);
    border:none ;
    background:white;
    border:2px solid white ;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
transition: 0.5s ease-in-out;
padding: 20px;
}
.op{
    color:rgb(243, 242, 242);
padding: 20px;
text-shadow:0 0 30px #fdf7f7,0 0 30px #fff,0 0 30px #fff;
}







